<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>No Reports</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 50px;
        }
    </style>
</head>
<body>
    <h1>Report {{domain}}</h1>
        <button onclick="window.location.href='http://127.0.0.1:5000'">Back to Main Page</button>
        <br/>
    <h1>No Reports Available</h1>
    <p>In this timeframe, there are no reports.</p>
</body>
</html>